/*body{*/
/*    margin: 2.5rem 15rem;*/
/*}*/

body {
    margin: 40px auto;
    max-width: 700px;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    font-family: "sans-serif";
    padding: 0 10px
}
pre {
    font-size: 14px;
}
h1, h2, h3 {
    line-height: 1.2
}